C---
import Container from "@ui/Container.astro";
import Text from "@ui/Text.astro";
import { footerNav } from "@data/nav";
import { site } from "@content/site";
import Heading from "@ui/Heading.astro";
const year = new Date().getFullYear();
const socials = Object.entries(site.social);
---

<footer class="border-t border-border bg-surface">
  <Container width="full" class="flex flex-col gap-8 py-12 sm:flex-row sm:items-start sm:justify-between">
    <div class="w-full flex-1 ">
      <Heading level={1} size="hero">
        {site.name}
      </Heading>
    </div>

    <div class="w-full flex-1 flex flex-row items-start justify-between gap-8">
      <div class="w-full flex-1">
        <Heading level={3}>
          Join the newsletter<br>
           hello@matr.art
        </Heading>
      </div>
      <div class="w-full flex-1">
        <Heading level={3}>
         X(Twitter)<br>Instagram<br>LinkedIn<br>
        
        </Heading>
      </div>

    </div>
  </Container>
  <Container width="full" class=" flex flex-row items-end justify-between gap-8 py-4">
    <div class="w-full flex-1">

      <div class="aspect-square bg-black w-16"
      >
    </div>
    </div>
    <div class="flex-0">

        <Text tone="muted" size="xs">© {year}{" "}{site.name}. All rights reserved.</Text>
    </div>
  </Container>

</footer>
