---
import Section from "@ui/Section.astro";
import Heading from "@ui/Heading.astro";
import Text from "@ui/Text.astro";
import Button from "@ui/Button.astro";

interface Props {
  title: string;
  body?: string;
  action: { label: string; href: string };
}

const { title, body, action } = Astro.props;
---

<Section tone="accent" width="full">
  <div class="flex flex-row items-center">
  <div class="flex flex-row flex-1 items-center justify-start gap-8">
  <Heading level={2} size="xl" align="center">{title}</Heading>
  {
    body && (
      <Heading level={3} align="left" size="md" class="max-w-xl opacity-90">
        {body}
      </Heading>
    )
  }
  </div>
    <Button href={action.href} variant="secondary" size="lg">{action.label}</Button></div>
</Section>
