---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@sections/Hero.astro";
import HomeIntro from "@sections/HomeIntro.astro";
import Artists from "@sections/Artists.astro";
import Manifesto from "@sections/Manifesto.astro";
import Services from "@sections/Services.astro";
import CTA from "@sections/CTA.astro";
import { home } from "@content/home";

const { cta } = home;
---

<BaseLayout seo={{ title: "Home", titleAbsolute: true }}>
  <Hero />

  <div class="relative z-10">
    <HomeIntro />

    <Artists />

    <Manifesto />

    <Services />

    <CTA title={cta.title} body={cta.body} action={cta.action} />
  </div>
</BaseLayout>
